#d3{
    border: 1px solid black;
    height: 250px;
    width: 350px;
    position: absolute;
    top: 25%;
    left: 45%;
}
#d1 p1{
    font-size: xx-large;
    color:blue;
    font-weight: 1000;
    font-family: sans-serif;
    
}
#d1{
    text-align: center;
    position: fixed;
    top: 20%;
    left: 51%;
    color: rgba(rgb(0, 128, 255), green, rgb(0, 98, 255),0.8);
}
input{
    position: relative;
    top: 20px;
    left: 50px;
    height: 30px;
    margin-bottom: 10px;
    width: 230px;
}
#d3 p{
    text-align: center;
    font-family: sans-serif;
}